*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
     background-color: aquamarine; 
}
.heading{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 51, 51);
    padding: 10px;
}
.heading img{
    height: 80px;
    width: 120px;
    object-fit: cover;
    margin-right:auto;
    border-radius: 20px;
}
.heading h1{
    margin-right: auto;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.navi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
    height: 50px;
    
}
.navi a{
    color:azure;
    text-decoration: none;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.container{
    background-color: brown;
    margin: 40px;
    border-radius: 40px;
}
.container h2{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cornsilk;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
.card{ 
    background-color: wheat; 
    height: 360px; 
    width: 340px; 
    display: flex;
    justify-content: center; 
    align-items:center; 
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    flex-direction: column;
    transition: transform .3s ease-in ;
}
.card img{
    width:90%;
    height: 80%;
    object-fit: cover;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-10px);
}
.card a{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 5px;
}
h3{
    color: brown;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Donate */
.donate{
    display: grid;
    background-color: rgb(202, 219, 90);
    gap: 60px;
}
.don{
        margin: 40px;
        display: flex;
        justify-content: space-around;
}
.raise{
background-color: rgb(68, 179, 216);
width: 300px;
height: 380px;
padding: 20px;
border-radius: 15px;
}
  .card1{
   display: flex;
   justify-content: space-between;
}
.card1 h4{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(13, 23, 33);
}
.card1 p{
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(218, 52, 60);
}
.raise form{
margin: 10px;
}
.raise form label{
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.raise form input{
    padding: 7px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.raise form select{
    padding: 7px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.raise form button {
    padding: 7px;
    width: 80px;
    margin-left: 80px;
    background-color: rgb(146, 37, 37);
}
.description{
     width: 50%;
}
.description h2{
    font-size: 1.8rem;
    color:rgb(41, 71, 72);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding: 10px;
}
.description p{
    font-size: 1.3rem;
    color:rgb(35, 35, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 15px;
}
/* Create */
.create{
    display: flex;
    justify-content: center;
}
.create2{
    height: 100%;
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: chartreuse;
   
}
.create2 form{
    padding: 10px;
    justify-content: space-around;
    text-align: center;
   
}
.form label{
    font-size: 20px;
    font-weight: 100;
}
.form input,.form select{
    padding: 10px;
    height: auto;
    width: auto;
    margin-top: 2%;
}
.create2 h2{
    display: flex;
    justify-content: center;
}
.textarea{
    justify-content: center;
    align-items:center ;
}
button{
    text-decoration: none;
    background-color: rgb(233, 136, 136);
    justify-content: center;
    margin-top: 20px;
}
/* about.html */
.about-container{
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
}
.about-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(98, 37, 197);

}
.about-container h2{
    display: flex;
    justify-content: center;
    color: rgb(162, 46, 50);

}
.about-container p{
    display: flex;
    font-size: 20px;
    justify-content: center;
    
    
}
.about-container ul li{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: bisque;

}



/* Login */
/* FULL PAGE BACKGROUND */
body {
    background-color: rgb(101, 245, 245);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER TITLE */
header h1 {
    background-color: cadetblue;
    text-align: center;
    padding: 15px;
    margin: 0;
    color: white;
}

/* OUTER CONTAINER (centers the form) */
.contain1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* FORM BOX */
.contain {
    background-color: chartreuse;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

/* FORM HEADING */
.contain h1 {
    background-color: cadetblue;
    padding: 10px;
    color: white;
    border-radius: 6px;
}

/* INPUT FIELDS */
input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid gray;
    font-size: 15px;
}

/* BUTTON */
button {
    padding: 10px 25px;
    background-color: rgb(30, 139, 30);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: green;
}

/* ERROR TEXT */
.error {
    color: red;
    font-size: 14px;
}

/* LINK STYLING */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Footer */

.footer {
    background-color: rgb(52, 51, 51);
    color: white;
    padding: 40pxx;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-about,
.footer-links,
.footer-contact {
    width: 250px;
    margin: 15px;
}

.footer h3, .footer h4 {
    margin-bottom: 12px;
    font-weight: 700;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 6px 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    border-top: 1px solid rgb(90, 90, 90);
    margin-top: 20px;
}



